[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=bash -c '"$(dirname "%k")"/../../iris-micro.sh 5000 100'
Categories=Application;
Name[en_US]=sunlight
